.card-container {
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    width: 200px;
    height: 300px;
    background-color:rgba(196, 196, 196, 1);
    margin: 10px;
    padding: 10px;
    margin-top: 90px;
}

.imgCard {
  width: 50px;
  height: 50px;
  margin-top: 110px;
}